# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
*.egg-info/

# Data files (optional)
data/raw/
data/processed/

# System files
.DS_Store
Thumbs.db
